# dev
.yarn/
!.yarn/releases
.vscode/*
.zed/*
!.vscode/launch.json
!.vscode/*.code-snippets
.idea/workspace.xml
.idea/usage.statistics.xml
.idea/shelf
.vitest_attachments
**/*.tsbuildinfo

# deps
node_modules/

# misc
.DS_Store
.env
.env.production

coverage/
dist/
build/

*.pem
cert*
